In [1]:
import pandas as pd

data={
    'Name':['Jai','Prince','Gaurav','Anuj'],
    'Age':[27,24,22,32],
    'Qualification':['Msc','MA','MCA','phd']
}

myval = pd.DataFrame(data)

print(myval)

     Name  Age Qualification
0     Jai   27           Msc
1  Prince   24            MA
2  Gaurav   22           MCA
3    Anuj   32           phd