In [1]:
import pandas as pd

df = pd.read_csv('nba.csv')

print("Header:")
print(df.head(5)) #To print first 5header value
print("Shape:")
print(df.shape) # To print the dimension
print("Data Type")
print(df.dtypes) # To print the datatype of the data
print("Describe method:")
print(df.describe()) #Returns description of the data
print("Median of all data")
print(df.median())
print("Median of Age:")
print(df["Age"].median())

Header:
            Name            Team  Number Position  Age  Height  Weight  \
0  Avery Bradley  Boston Celtics       0       PG   25  06-Feb     180
1    Jae Crowder  Boston Celtics      99       SF   25  06-Jun     235
2   John Holland  Boston Celtics      30       SG   27  06-May     205
3    R.J. Hunter  Boston Celtics      28       SG   22  06-May     185
4  Jonas Jerebko  Boston Celtics       8       PF   29  06-Oct     231

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
Shape:
(457, 9)
Data Type
Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object
Describe method:
           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07
Median of all data
Number         13.0
Age            26.0
Weight        220.0
Salary    2839073.0
dtype: float64
Median of Age:
26.0

C:\Users\Moorthy\AppData\Local\Temp\ipykernel_7156\3720119028.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.median())